.imageList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 0 10px;
    grid-auto-rows: 5px;
    padding-left: 15px;
    padding-right: 0px;
}

.imageList img {
    width : 150px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    z-index: 1;
    cursor: pointer;
}

.imageList img:hover {
    width: 170px;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    z-index: 1000;
}